body{

      font-family: "Kode Mono", monospace;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
  }

header{
    background-color: #BBBBBB;
    padding: 20px 0;
}

.caja {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 45px;
    right: 0;
}

#logo{
 width: 25%;

}

#logo:hover{
    width: 30%;
}

nav li{
    display: inline;
    margin: 0 0 0 20px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

nav a:hover{
    color: blue;
    text-decoration: underline;
}

.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
  

}
.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing:border-box ;
    border: 2px solid #000000;
    border-radius: 100px ;
}

.productos li:hover{
    border-color: #55AACC;
}
.productos li:active{
    border-color: aquamarine;
}

#circle{
    width: 50%;
    padding-top: 15px;
    padding-bottom: 20px;
}

.productos h2{
    font-size:  20px;
    font-weight: bold;
}


.productos li:hover h2{
    font-size: 26px;
}

#circle:hover{
    width: 70%;
}


.caracteres{
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    text-align: center;
    opacity: 95%;
    background: url(imagenes/bg.jpg);
    padding: 40px;
}

.copy{
    color: azure;
    size: 13px;
    margin: 20px;
}

#pie {
    width: 15%;
    border-radius: 35px;
}

form{

    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 15px;

}
.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 5px 30px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 20%;
    padding: 10px 0;
    font-size: 18px;
    font-weight: bold;
    color: azure;
    background: #55AACC;
    border-radius: 10px;
    transition: 0.5s all;
    cursor: pointer;
}

.enviar:hover{
    background: #053e92;
    transform: scale(1.15);
}

table{

margin: 50px 360px;

}

thead{

    background: #555555;
    color: azure;
    font-weight: bold;
}
td, th{
    border: 1px solid #000000;
    padding: 8px 15px;
}

/*CSS home*/
/* ------------------------------------ */

.banner{

    width: 100%;
}

/* selectores avanzados
main > p{
    background: red;
}

img + p{
    background: yellow;
}

img ~ p{
    background: blue;
}

.principal p:not(#mision)
{
    background: #55AACC;
}

*-------------------------------------*/

.principal{
    padding: 3em 0;
    background: azure;
    width: 940px;
    margin: 0 auto;
}

.titulo-principal{

    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
   
}

.titulo-principal:hover{

    color:rgba(0, 0, 0, 0.3);
    text-shadow: 2px 2px #053e92;
}


.titulo-principal::before{
    content: "[";
}

.titulo-principal::after{
    content: "]";
}

.principal p{

    margin: 0 0 1em;

}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

/*  aqui hay un ejemplo de calculo en CSS*/
.circulo{
    width: calc(40% - (26px*11));
    float: left;
    margin: 0 20px 20px 0;
}
/*-------------------------------*/
.mapa{
    padding: 3em 0;
    background: linear-gradient(azure, #555555) ;
}

.mapa-contenido{
width: 940px;
margin: 0 auto;

}

.diferenciales{

padding: 3em 0;
background:linear-gradient(#555555,#222222) ;
box-shadow: inset 0 0 15px azure;
}

.conteindif{

    width: 640px;
    margin: 0 auto;
}

.listadif{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.items{

line-height: 2;
}

.items:before{
content: "∞";

}


.items:nth-child(n){

    font-weight: bold;
    font-style: italic;


}

/*Aqui editemos la imagen de diferenciales*/
/*     

*/


.imagenDif{
    width: 60%;
    border-radius: 50px;


}

.imagenDif:hover{
    opacity: 80%;
    border-radius: 50px;
    transition: 500ms;
    box-shadow: 10px 10px 15px 10px #000000;

}


/*    */


.video{
    width: 540px;
    margin: 2em auto;
}

@media screen and (max-width:940px) {
    h1{

        text-align: center;
    }
    nav{
        position: static;
    }
 
.caja, .principal, .mapa-contenido, .conteindif, .video{
width: auto;
}

.listadif, .imagenDif{
    width: 100%;
}

}






